.posts{
    width: 50%;
    margin: 0 auto;
    display: block;
}

.post{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-style: solid;
    border-color: #b3b7bb;
}

.edit-post-btn{
    float: right;
}

.post-time{
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 0px;
}
hr{
    display: block;
    margin: 0px;
}

.post-text{
    padding-top: 10px;
    padding-bottom: 10px;
}

.like{
    padding-bottom: 5px;
    padding-top: 5px;
}

.edit-save-btn, .edit-cancel-btn{
    margin-bottom: 5px;
}

.edit-textarea{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.new-post-submit-btn{
    display: block;
}

.profile-photo{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.profile-username{
    text-align: center;
    padding-top: 10px;
}

.follower{
    display: inline;
}

.vl{
    border-left: 3px solid grey;
    padding-right: 3px;
    display: inline;
}

.follower-box{
    padding-top: 10px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.post-pic{
    width: 50px;
    margin-right: 3px;
}
