.posts{
    width: 50%;
    margin: 0 auto;
}

.post{
    padding: 5px;
    border-style: solid;
    border-color: #b3b7bb;
}

.user{

}

.edit-post-btn{
    float: right;

}

.post-time{
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 0px;
}
hr{
    margin: 0px;
}

.post-text{
    padding-top: 10px;
    padding-bottom: 10px;
}

.like{
    padding-bottom: 5px;
    padding-top: 5px;
}

.edit-save-btn, .edit-cancel-btn{
    margin-bottom: 5px;
}

.edit-textarea{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.page-link{
    display: inline;
}