{% extends "network/layout.html" %}

{% block body %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <span id="message"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="profile-info">
        {{username.username}}
    </div>

    <div class="new-post">
        <h2>New Post</h2>
        <textarea id="post-text" placeholder="What do you think about today?"></textarea>
        <input type="submit" id="new_post" class="btn btn-primary"/>
    </div>

    <div class="all-posts">
        {% for post in page_obj %}
            <ul class="media-list">
                <li class="media">
                    <div class="media-body">
                        <strong class="text-success">{{post.user_posted}}</strong>
                        <span class="text-muted pull-right">
                            <small class="text-muted">{{post.post_time}}</small>
                        </span>
                        <p>
                            {{post.post}}
                        </p>
                    </div>
                </li>
            </ul>
        {% endfor %}
        <div class="pagination">
            <span class="page-link">
                {% if page_obj.has_previous %}
                    <a class="page-link" href="?page=1">&laquo; first</a>
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current page-link disabled">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}