{% extends "network/layout.html" %}

{% block body %}
    <div>PROFILE</div>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <span id="message"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="profile-info">
        {{username}}
    </div>

    {% if user != users_profile %}
        <form action="{% url 'profile page' username %}" method="POST">
            {% if is_followed %}
                <input type="submit" value="Following" name="unfollow_btn" class="btn following-btn" id="unfollowBtn">
            {% else %}
                <input type="submit" value="Follow" name="follow_btn" class="btn follow-btn">
            {% endif %}
        </form>
    {% endif %}

    <h5>Followers {{ followers.count }}</h5>
    <h5>Subscriptions {{ followings.count }}</h5>

    <div class="new-post">
        <h2>New Post</h2>
        <form>
            <textarea id="post-text" placeholder="What do you think about today?"></textarea>
            <input type="submit" href="{% url 'profile page' user.username %}" id="new_post" class="btn btn-primary"/>
        </form>
    </div>

     {% include 'network/posts.html' %}
{% endblock %}
