{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="mb-3">{{ title }}</h2>

    <div>
        {% if user.is_authenticated %}
            {% csrf_token %}
                <div class="cards" id="columns">
                    {% for listing in listings %}
                        <figure>
                             <a href="{% url 'listing' listing.pk %}">
                                 <img class="card-img-top" src="{{ listing.image }}">
                                 <figcaption><h6 class="mb-3">{{ listing.name_of_listing }}<br></h6>
                                     <i>{{ listing.listing_description }}</i><br>
                                     <p>{{ listing.current_bid| default:listing.starting_bid}} $</p>
                                 </figcaption>
                             </a>
                        </figure>
                    {% endfor %}
                </div>
        {% else %}
            Not signed in.
        {% endif %}
    </div>

{% endblock %}

