{% extends "auctions/layout.html" %}

{% block body %}

    <h2> Auctions Listing</h2>

    {% if user.is_authenticated %}

        <form action="{% url 'listing' listing.id %}" method="post">
            {% csrf_token %}
            <ul>
                <li>Name of listing: {{ listing.name_of_listing }}</li>
                <li>Description: {{ listing.listing_description }}</li>
                <li>Starting bid: {{ listing.starting_bid }} $</li>
                <li>Image:<br> <img src="{{listing.image}}"> </li>
            </ul>
        </form>
        <form action="{% url 'watchlist' listing.id %}" method="POST">
            {% csrf_token %}
            <button type="submit"> add to watchlist </button>
        </form>
    {% else %}
        Already have an account? <a href="{% url 'login' %}">Log In here.</a>
    {% endif %}
{% endblock %}