{% extends "auctions/layout.html" %}

{% block body %}

    <h2 class="mb-3"> Auctions Listing</h2>

    {% if user.is_authenticated %}
        <div class="container">
            <div class="row list-project">
                <form action="{% url 'listing' listing.id %}" method="post">
                {% csrf_token %}
                    <div class="col-md-7">
                        <img src="{{listing.image}}">
                    </div>
                    <div class="col-md-5">
                        <div class="project-info-box mt-0">
                            <h5>{{ listing.name_of_listing }}</h5>
                            <p>{{ listing.listing_description }}</p>
                        </div>
                        <div class="project-info-box mb-10">
                            <p><b>OWNER:</b>
                                {% if my_listing %}
                                    YOU!
                                {% else %}
                                    {{ listing.listings_owner }}
                                {% endif %}
                            </p>
                            <p><b>CATEGORY:</b>{{ listing.listing_category }}</p>
                            <p><b>STARTING BID:</b>{{ listing.starting_bid }} $</p>
                        </div>
                </form>
                        <form action="{% url 'watchlist' listing.id %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-primary d-block" type="submit">
                                {% if is_in_watchlist %}
                                remove from watchlist
                                {% else %}
                                add to watchlist
                                {% endif %}
                            </button>
                        </form>
            </div>
        </div>

        {% if my_listing %}
            {% if listing.is_closed == False %}
            <form method="POST" action="{% url 'close_listing' listing.id %}">
                {% csrf_token %}
                <button type = submit value="submit">
                    close this listing
                </button>
            </form>
            {% endif %}
        {% endif %}


        <form action="{% url 'watchlist' listing.id %}" method="POST">
            {% csrf_token %}
            <button type="submit">
                {% if is_in_watchlist %}
                remove from watchlist
                {% else %}
                add to watchlist
                {% endif %}
            </button>
        </form>

        {% if listing.is_closed == False %}
            last bid is: {{ listing.current_bid| default:listing.starting_bid}} $ made by: {{ last_bidder.last_bidder }}
            {% if error %}
                Your bid must be bigger than {{ listing.current_bid| default:listing.starting_bid}} $
            {% endif %}
            {% if listing.listings_owner != user %}
                <form action="{% url 'bid' listing.id %}" method="post">
                    {% csrf_token %}
                    <input class="form-control" type="number" name="offer" placeholder="New bid">
                    <input type = submit value="submit">
                </form>
            {% endif %}
        {% else %}
            {% if my_listing %}
                {% if last_bidder.last_bidder %}
                    Your listing goes to {{ last_bidder.last_bidder }}
                {% else %}
                    No buyers
                {% endif %}
            {% else %}
                {% if user == last_bidder.last_bidder %}
                    You won this listing!!
                {% else %}
                    Winner is {{ last_bidder.last_bidder }}
                {% endif %}
            {% endif %}
        {% endif %}


        <div class="container">
            <div class="row bootstrap snippets bootdeys">
                <div class="col-md-8 col-sm-12">
                    <div class="comment-wrapper">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                Comment panel
                            </div>
                            <div class="panel-body">
                                <form action="{% url 'comment' listing.id %}" method="post">
                                    {% csrf_token %}
                                    <textarea class="form-control" type="text" name="comment" placeholder="Place your comment here"></textarea>
                                    <input type = submit value="submit">
                                    <div class="clearfix"></div>
                                    <hr>
                                </form>
                                {% for comment in all_comments %}
                                {% csrf_token %}
                                <ul class="media-list">
                                    <li class="media">
                                        <div class="media-body">
                                            <strong class="text-success">{{comment.commentator}}</strong>
                                            <span class="text-muted pull-right">
                                                <small class="text-muted">{{comment.comment_time}}</small>
                                            </span>
                                            <p>
                                                {{comment.comment}}
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        Already have an account? <a href="{% url 'login' %}">Log In here.</a>
    {% endif %}
{% endblock %}