{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Create New Listing</h2>

    {% if user.is_authenticated %}
        Signed in as <strong>{{ user.username }}</strong>.

        <form action="{% url 'new_listing' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" autofocus type="text" name="listing_name" placeholder="Listing title">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="description" placeholder="Description">
            </div>
            <div class="form-group">
                <input class="form-control" type="number" name="starting_bid" placeholder="Starting bid">
            </div>
            <div class="form-group">
                <input class="form-control" type="url" name="image_url" placeholder="Url of image">
            </div>
            <div class="form-group">
                <select name="category">
                    {% for category in categories %}
                        <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>
            </div>
            <input class="btn btn-primary" type="submit" value="Register">
        </form>

    {% else %}
        Already have an account? <a href="{% url 'login' %}">Log In here.</a>
    {% endif %}

{% endblock %}