textarea {
    min-height: 400px;
}

.read-true {
    background-color: darkgrey;
}

.read-false {
    background-color: white;
    font-weight: 600;
}

.border-rule {
    border-style: groove;
}

.email-inner {
    display: inline;
}

.right {
    float: right;
    opacity: 50%;
}

.email-body {
      white-space: pre-wrap;
  }